.bg-main,
.bg-games,
.bg-reviews {
    min-height: 100%;
    display: flex;
    min-width: 1200px;
}

.bg-main {
    background: url("../../img/top-back.png") center top no-repeat,
    url("../../img/bottom-back.png") center bottom 146px no-repeat;
    background-color: #17191C;
    justify-content: center;
    
}

.bg-games {
    background: url(../../img/games/p_games-header.png) top no-repeat;
    background-color: #F2F2F2;
    width: 100%;
    flex-direction: column;
}


.bg-reviews {
    background: url(../../img/games/p_games-header.png) top no-repeat;
    background-color: #FFF;
    width: 100%;
    flex-direction: column;
}