.header{
    
    position: relative;
    display: flex;
    width: 100%;

}

.header--page-main {
    height: 102px; 
}

.header--page-games {
    /* height: 11%;  */
    margin: 2.4% 0 0 0;
}

.container-header,
.container-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.container-header {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    width: 1140px;
    margin: 0 auto ;
}

.container-header {
    flex-direction: row;
}
