.social {
    display: flex;
    position: relative;
    height: 100%;
    align-items:center;
}

.social__link {
    display: flex;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 6px;
}

.social__item:last-child {
    margin-right: 0;
}

/* Telegram */
.social__item--tg .social__link {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -122px -10px;

}

.social__item--tg .social__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -122px -66px;
}

/* VK */
.social__item--vk .social__link {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -10px -122px;
}

.social__item--vk .social__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -66px -122px;
}

/* Facebook */
.social__item--fb .social__link {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -10px -10px;
}

.social__item--fb .social__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -66px -10px;
}

/* Instagram */
.social__item--in .social__link {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -10px -66px;
}

.social__item--in .social__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/soc_sprite.png) -66px -66px;
}