.top-line {
    display: flex;
    min-height: 412px;
    height: 412px;
}

.top-line--container {
    display: flex;
    height:95%; 
    flex-direction: column;
    justify-content: space-between;
}